asset-v1:StanfordOnline+SOE.YCSCS1+1T2020+type@asset+block@student-dist.tar.gz
asset-v1_StanfordOnline+SOE.YCSCS1+1T2020+type@asset+block@student-dist/
asset-v1_StanfordOnline+SOE.YCSCS1+1T2020+type@asset+block@student-dist
cs143
